@font-face {
    font-family: BebasKai;
    src: url(Fonts/BebasKai.ttf);
  }

* {
    box-sizing: border-box;
}

body{
        
    margin: 0;
    width: 100%;
}

header {
    
    width: 100%;
    background-color: black;
    display: flex;
    height: 6em;
    justify-content:center;
    align-content: center;
    margin-bottom: 10em;
}

header a {
        
    width: 3.2em;
    margin: 1em 0em 2em 0em;
    
}


main {
   width: 70%;
   margin: auto;

}

 .desc {
    
     height: 100%;
     display: flex;
     flex-direction: column;
     
    

}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    margin-left: 1em;
    text-align: left;
    width: 100%;
    margin: 1em auto ;
    transform: translate(1.3em, 0em);
    font-family: 'Cairo', sans-serif;
    position: relative;
}

p:before {
    content: "";
        background-color: rgb(170, 170, 170);
        height: 100%;
        width: 2px;
        position: absolute;
        top: 0;
        left:-1em;
}

h2 {
    
    font-family: BebasKai;
    font-size: 10em;
    margin: 0;
   
    
}

h3{
    font-family: BebasKai;
    font-size: 4em;
    color: #c3c3c3;
    margin: 0;
    margin: -30px 0 0 0;
  
}

.container {

    width: 70%;
    margin: auto;
    display: flex;

}

.col1, .col2 {

  
   display: flex;
   flex-direction: column;
   margin: 0 4px;
   
    
}

.col1 img, .col2 img {

    width: 100%;
    margin: 4px 0;
    
     
 }



@media only screen and (max-width: 750px) {

    .container {
        
        flex-direction: column;
    }
    
}    