@font-face {
    font-family: BebasKai;
    src: url(Fonts/BebasKai.ttf);
  }

* {
    box-sizing: border-box;
}

body{
        
    margin: 0;
    width: 100%;
}

header {
    
    width: 100%;
    background-color: black;
    display: flex;
    height: 6em;
    justify-content:center;
    align-content: center;
    margin-bottom: 10em;
}

header a {
        
    width: 3.2em;
    margin: 1em 0em 2em 0em;
    
}


main {
   width: 70%;
   margin: auto;

}

 .desc {
    
     height: 100%;
     display: flex;
     flex-direction: column;
     
    

}

p {
    font-size: 2em;
    line-height: 1.4em;
    text-align: left;
    width: 95%;
    margin: 1em auto;
    transform: translate(.4em, 0em);
    font-family: 'Cairo', sans-serif;
    position: relative;
}

p:before {
    content: "";
        background-color: rgb(170, 170, 170);
        height: 100%;
        width: 1px;
        position: absolute;
        top: 0;
        left:-1.1em;
}

h2 {
    
    font-family: BebasKai;
    font-size: 10em;
    margin: 0;
   
    
}

h3{
    font-family: BebasKai;
    font-size: 4em;
    color: #c3c3c3;
    margin: 0;
    margin: -30px 0 0 0;
  
}

.container {

    width: 70%;
    margin: auto;
    display: flex;

}

.col1, .col2 {

  
   display: flex;
   flex-direction: column;
   margin: 0 4px;
   
    
}

.col1 img, .col2 img {

    width: 100%;
    margin: 4px 0;
 
 }

 @media (max-width: 1300px) {

    
    p {
        font-size: 1.5em;
        width: 100%;
    }
}



@media (max-width: 800px) {

    h2 {
 
        font-size: 8em;
     }

     h3 {
 
        font-size: 3sem;
     }
    
    p {
        font-size: 1em;
    }
}

@media (max-width: 660px) {

    
    h2 {
 
       font-size: 7em;
    }

    h3 {
 
        font-size: 3em;
     }
}

@media (max-width: 660px) {

    main {
        width: 95%;
        margin: auto;
     
     }

     p {
         transform: none;
     }

     p:before {
         display: none;
     }

    .container {

        width:100%;
        display: flex;
        flex-direction: column;
    
    }

    .col1, .col2 {

        margin: 0;
    }
    
    h2 {
 
       font-size: 5em;
    }

    h3 {
 
        font-size: 2em;
        margin: -15px 0 0 0  ;
     }
}