
 @font-face {
    font-family: BebasKai;
    src: url(Fonts/BebasKai.ttf);
  }


    html {
        
        scroll-behavior: smooth;
    }
    

    body {
        
        margin: 0;
  
    }
    
     main .linha1{
        
        position: absolute;
        top: 0;
        left: 10em;
        width: 1px;
        height: 550em;
        background-color #e3e3e3;
        
       
    }

    .linha1{
        
        position: absolute;
        top: 0;
        left: 10em;
        width: 1px;
        height: 100%;
        background-color: #e3e3e3;
        
       
    }
    
    .linha1:after {
        
        content: '';
        position:fixed;
  
        top:5em;
        left: 10em;
        
        width: 0;
        height: 0;
        border-top: 1em solid transparent;
        border-left: 1em solid  #e3e3e3;
        border-bottom: 1em solid transparent;
        
         
    }
    

    header {
        
        background: #111111;
        background: url(Imagens/grid5.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        
    
        height: auto;
        padding-top: 10em;
        padding-bottom: 10em;
        position: relative;
        z-index: 2; 
  
    }
    
    header:before{
        content: '';
        width: 5em;
        height: 5em;
        background-color: transparent;
        position: absolute;
        bottom:0;
        left:0;
        
        width: 0;
        height: 0;
        border-bottom: 60px solid white;
        border-right: 60px solid transparent;
    }
    
    .foto-logo {
  
        position: relative;
        display: flex;
        justify-content: center;
        box-sizing: border-box;

    }
    
     .foto-logo:before {
        
        content: "1992 - 2011 - 2020";
        color: tomato;
        position: absolute;
        bottom: 0;
        left: 58%;
        font-family: 'Saira Condensed', sans-serif;
        line-height: 1.4em;
        
    }
    

    
    
    .foto-logo span {
     
        position: relative;
        margin-right: 1em;
        box-sizing: border-box;
 
    }
    
    .foto-logo span:before {
        
        content: "";
        position: absolute;
        bottom: 4px;
        right: 1px;
        width: 10px;
        height: 10px;
        border-bottom: 1px solid white;
        border-right: 1px solid white;
        transition: transform 0.5s;
        
        
    }
    
    .foto-logo span:after {
        
        content: "";
        position: absolute;
        top: 1px;
        left: 1px;
        width: 10px;
        height: 10px;
        border-top: 1px solid white;
        border-left: 1px solid white;
        transition: transform 0.5s;
        
        
    }
    
    .foto-logo span:hover:before {
        
        transform: translate(20px, 20px);
    }
    
    .foto-logo span:hover:after {
        
        transform: translate(-20px, -20px);
    }
   
    
    .logo-header {
        
        width: 18em;
        margin-left: 1em;
        box-sizing: border-box;
  
    }
    

    .foto-perfil {
        
        width:10em;
        border: 2px white solid;
        margin: 0;
        box-sizing: border-box;
        filter: grayscale(100%);
        transition: all .2s ease-in-out;

    }

    .foto-perfil:hover {
        
         transform: scale(1.05);
         cursor: crosshair;
    }

    nav {
        
        position: relative;
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 7em;
      
        
    }
    
    
    nav ul {
       
        text-align: center;
        transform: translate(-15px, 0px);
       
    }
    
  
    
    nav ul:before {
        
        content: "";
        left: 50%;
        width: 2.5em;
        height: 1px;
        position: absolute;
        top:-1.5em;
        background-color: white;   
        transition:  transform 1s;
        transform: scale(0, 2);

    }
    
    
      nav ul:after {
        
        content: "";
        left: 50%;
        width: 2.5em;
        height: 1px;
        position: absolute;
        bottom: -1.5em;
        background-color: white;
        transition:  transform 1s;
        transform: scale(0, 2);
    }
    
    
    nav ul:hover:before{
    
        transform: scale(2, 1);
    }
    
    nav ul:hover:after{
    
        transform: scale(2, 1);
    }
    
    
     nav li {
        
       list-style: none;
       font-family: BebasKai;
       font-size: 4.5em;
       line-height: 1em;
       letter-spacing: 2px;
       transition: .3s ease ;
       
      
       text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
       

    }

    
      nav li:hover {
        
      font-family: BebasKai;
          
      
       color: white;
       cursor:crosshair;
          
          text-shadow: -1px -1px 0 gray, 1px -1px 0 gray, -1px 1px 0 gray, 1px 1px 0 gray;
 
    }
    
      nav li a{
        
       text-decoration: none;
       color:black;
       

    }
      nav li a:visited{
        
       color:black;
       

    }
    
     nav li a:hover{
        
       color: white;
       cursor: crosshair;
       

    }
    
   
    
    main {
         overflow: hidden;
         padding-top: 15em;
         display: flex;
         flex-direction: column;
  
    }
    
 
    article {
    
       
    }
    
    article h1, h2, h3, h4 {
        
        margin: 0;
        padding: 0;
     
         
    }
 
    
      .first-article {
        
        width: 70%;
        height: 55em;
        margin: auto;
        margin-top: 9em;
        margin-bottom: 20em;
        position: relative;

    }
    
    .first-article:before {
        
        content: "";
        background-color: #c1c1c1;
        height: 1px;
        width: 140em;
        position: absolute;
        top:-13em;
        left:0;
        
       
    }
    
      .first-article h1 {
        
        font-family: BebasKai;
        color: #111111;
        font-size: 12em;
        position: absolute;
        top:0;
        left:-.025em;
        position: relative;
        
        
        
    }
    
    .first-article h1:before {
        
        content: "";
        position: absolute;
        bottom: top;
        left: 2.5em;
        width: 10px;
        height: 10px;
        border-bottom: 2px solid #e3e3e3;
        border-right: 2px solid #e3e3e3;
     
    }
    
  
    
      .first-article  h2 {
        
        font-family: BebasKai;
        font-size: 7em;
        position: absolute;
        top:1.6em;
        left:0;
        color: #6666; 
         
    
        
    }
    
   
    
    
      .first-article h3 {
        
        font-family: BebasKai;
        font-size: 6em;
        position: absolute;
        top:3em;
        left:0;
        color: #ebebeb; 
         
    
        
    }
    
      .first-article h4 {
    
        font-family: BebasKai;
        font-size: 30em;
        position: absolute;
        top: -.2em;
        right: 1em;
        z-index: -2;
        color: white;
        
        text-shadow: -1px -1px 0 #e3e3e3, 1px -1px 0 #e3e3e3, -1px 1px 0 #e3e3e3, 1px 1px 0 #e3e3e3;
        
       
            
    }
    
  
    
    
    
    .first-article p {
        
        position: absolute;
        top: 16em;
        right: 0;
        width: 40%;
        font-size: 1.6em;
        font-family: 'Cairo', sans-serif;
        line-height: 1.4em;
        text-align: left; 
        display: block;
        
    }
    
    .first-article p:before {
        
        content: "";
        background-color: #111111;
        height: 7em;
        width: 2px;
        position: absolute;
        top: 0;
        left:-1em;
        
    }
    
    
    .first-article .quadrado-imagem {
        
        
        width: 30em;
        height: 30em;
        padding: 5em;
        border: 1px gray solid;
        display: flex;
        justify-content: center;
        align-content: center;
        position: absolute;
        bottom: 0;
        left: 0em;
        box-sizing: border-box;
    
        
    }
    
    
     .first-article .quadrado-imagem:after{
        
        content: "";
        width: 400px;
        height: 550px;
        background-color: white;
        position: absolute;
        top: -1em;
        right: 8%;

  
        
    }
    
     .first-article .quadrado-imagem:before{
        
        content: "";
        width: 550px;
        height: 400px;
        background-color: white;
        position: absolute;
        bottom: 8%;
        left: -1em;
  
    }
    
    
     .first-article img {
        
        height: 100%;
        z-index: 1;
    }
    
    
  
    a{
        text-decoration: none;
        
    }
    
    a:visited {
        color: #111111;
    }
    
    a:hover {
        
        cursor: crosshair;
    }
    
     .first-article .button {
    
      border: none;
      background-color: white;
      color: #111111;
      font-size: 4em;
      cursor: crosshair;
      font-family: BebasKai;
        
        margin-bottom: 1em;
        position: absolute;
        right: 0;
        bottom:0;
        
        
}
    .first-article .button::after  {
        
        content: '';
        display: block;
        width: 1em;
        height: 2px;
        background: #080808;
        transition: width .3s;
    }
    
    
    .first-article .button:hover::after{
        
        width: 100%;
        transition: width .3s;     
        
    }
    
    
    
    .second-article {
        
     
        width: 70%;
        height: 55em;
        margin: auto;
        margin-top: 9em;
        margin-bottom: 20em;
        position: relative;
       
    }

    .second-article:before {
        
        content: "";
        background-color: #c1c1c1;
        height: 1px;
        width: 140em;
        position: absolute;
        top:-13em;
        right:0;
        
       
    }
    
      .second-article h1 {
        
        font-family: BebasKai;
        color: #111111;
        font-size: 12em;
        position: absolute;
        top:0;
        right:-10px;
  
    }

    .second-article h1:before {
        
        content: "";
        position: absolute;
        top: 0;
        left: -.4em;
        width: 10px;
        height: 10px;
        border-bottom: 2px solid #e3e3e3;
        border-left: 2px solid #e3e3e3;
     
    }
    
    
  
      .second-article  h2 {
        
        font-family: BebasKai;
        font-size: 7em;
        position: absolute;
        top:1.6em;
        right:0;
        color: #6666; 
 
    }
    

      .second-article h3 {
        
        font-family: BebasKai;
        font-size: 6em;
        position: absolute;
        top:3em;
        right:0;
        color: #ebebeb; 
 
    }
    
      .second-article h4 {
    
        font-family: BebasKai;
        font-size: 30em;
        position: absolute;
        top: -.2em;
        right: -.1em;
        z-index: -2;
        color: white;
        
        text-shadow: -1px -1px 0 #e3e3e3, 1px -1px 0 #e3e3e3, -1px 1px 0 #e3e3e3, 1px 1px 0 #e3e3e3;
   
    }

    .second-article p {
        
        position: absolute;
        top: 15em;
        left: 1em;
        width: 40%;
        font-size: 1.6em;
        font-family: 'Cairo', sans-serif;
        line-height: 1.4em;
        text-align: left; 
        
    }
    
    .second-article p:before {
        
        content: "";
        background-color: #111111;
        height: 7em;
        width: 2px;
        position: absolute;
        top: 0;
        left:-1em;
        
    }
    
    
    .second-article .quadrado-imagem {
        
        
        width: 30em;
        height: 30em;
        padding: 5em;
        border: 1px gray solid;
        display: flex;
        justify-content: center;
        align-content: center;
        position: absolute;
        bottom: 0;
        right: 0;
        box-sizing: border-box;
    
        
    }
    
    
     .second-article .quadrado-imagem:after{
        
        content: "";
        width: 400px;
        height: 550px;
        background-color: white;
        position: absolute;
        top: -1em;
        right: 8%;

        
       
        
    }
    
     .second-article .quadrado-imagem:before{
        
        content: "";
        width: 550px;
        height: 400px;
        background-color: white;
        position: absolute;
        bottom: 8%;
        left: -1em;

    }
    
    
     .second-article img {
        
        height: 100%;
        z-index: 1;
    }

     .second-article .button {
    
      border: none;
      background-color: white;
      color: #111111;
      font-size: 4em;
      cursor: crosshair;
      font-family: BebasKai;
        
        margin-bottom: 1em;
        position: absolute;
        left: 0;
        bottom: 0em;
        
        
}
    .second-article .button::after  {
        
        content: '';
        display: block;
        width: 1em;
        height: 2px;
        background: #080808;
        transition: width .3s;
    }
    
    
    .second-article .button:hover::after{
        
        width: 100%;
        transition: width .3s;     
        
    }
    
    
    footer {
        
      
        height: auto;
        
        background: rgb(0,0,0); 
        background: linear-gradient(180deg, rgba(0,0,0, 50%) 55%, rgba(30,32,34,50%) 91%), url(Imagens/fotofooter.jpg);
        background-repeat: no-repeat;
        background-position: top right;
        background-size: cover;
        position: relative;
        
      
    }
    
    footer:before {
        
        content: '';
        width: 5em;
        height: 5em;
        background-color: transparent;
        position: absolute;
        top:0;
        right:0;
        
        width: 0;
        height: 0;
        border-top: 60px solid white;
        border-left: 60px solid transparent;
    }
    
    footer .containerfooter {
       
        width: 70%;
        margin: auto;
        padding-top: 7em;
        display: flex;
        flex-direction: column;
        
    }
    
    
    footer .linha1 {
        
        background-color: #3b3b3b;
        
    }
    
    footer .linha1:after {
        
        position: absolute;
        top: 15em;
        left: 0;
        
        border-top: 1em solid transparent;
        border-left: 1em solid #3b3b3b;
        border-bottom: 1em solid transparent;
       
        
    }
    
    footer img {
        
        width: 30em;
        display: inline-block;
    
    }
    
    footer h1 {
        
        color: white;
        font-family: BebasKai;
        font-size: 8em;
        display: none;
         
        
       

    }
    
    footer p{
        
        color: #c1c1c1;
        font-size: 1.5em;
        margin-top: 1em;
        font-family: 'Cairo', sans-serif;
        line-height: 1.4em;
        width: 50%;
        position: relative;
        
    }
    
    footer p:before {
        
        content: "";
        background-color:  #3b3b3b;
        height: 1px;
        width: 25em;
        position: absolute;
        bottom: -2em;
        left:-17em;
        
    }
    
    .icons-container {
        height 2em;
        margin: 6em 0em 3em 0em;
       
    }
    
    .fab{
        
        color: #3b3b3b;
        font-size: 1.5em;
        display: inline-block;
        margin: 0 1em 0 0;
        transition:0.5s;
        
      
    }
    
    .fab:hover {
        
        color: white;
    }
    
    
    .stickhome img{
        
        width: 3em;
        visibility: hidden;
        opacity: 0;
        position: fixed;
        top: 0em;
        right: 5em;
        transition:1s;
    }



    /* #menu {
        background-color: red;
        width: 100%;
        height: 50px;
        position: fixed;
        z-index: 5000;
        visibility: hidden;
        transition-duration: 0.5s;
    } */




    @media  (max-width: 1350px) { 

        

        .linha1 {
            display:none;
        }

        .first-article .button, .second-article .button {

          
            margin-bottom: 0;
            bottom: 0;
   
           }

        .first-article, .second-article {

            width: 90%;
        }

      
        .stickhome img{
        
            display: none;
         
        }

  



    @media (max-width: 1200px) {

        .stickhome {
            display: none;
        }

        .logo-header {
        
            width: 20em;
     
        }
        
    
        .foto-perfil {

            width: 11em;
            
            
        } 
        
        .foto-logo span:before {
     
            display: none;
     
        }

      
        .foto-logo:before {
        
            content: "1992 - 2011 - 2020";
            font-size: 1em;
            color: tomato;
            position: absolute;
            bottom: 0;
            left: 65%;
            font-family: 'Saira Condensed', sans-serif;
            line-height: 1.4em;
        }
        

        nav li {

            font-size: 5em;
            text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
        }

        .first-article p, .second-article p {

            font-size: 1.5em;
        }

        .first-article .button, .second-article .button {

          
            margin-bottom: 0;
   
           }

        footer .containerfooter {
       
            justify-content: center;
        }

        footer img {
        
            width: 30em;
            align-self: center;
        
        }

      

        footer p {

            font-size: 1.5em;
            width: 100%;
        }

        .icons-container {

            display: flex;
            justify-content: left;
         }
 
         .fab{
       
             font-size: 2em;
             
          
         }


       
    }

    @media (max-width: 960px) {

        .logo-header {
        
            width: 19em;
            margin: 0;
     
        }
        
    
        .foto-perfil {

            width: 11em;
            margin-right: 1em;
            
        } 

        nav li {

            font-size: 4em;
    
        }

        .first-article, .second-article {
            
            height: 50em;
            width: 90%;
            margin-top: 20em;

        }

        

        .first-article p, .second-article p {
            bottom: 0;
            font-size: 1.4em;
        }

        .first-article .quadrado-imagem, .second-article .quadrado-imagem {

            width: 20em;
            height: 20em;
            padding: 3em;
        }

        .first-article .quadrado-imagem:before , .second-article .quadrado-imagem:before {

            content: "";
            width: 16em;
            height: 22em;
            background-color:white;
            bottom: -1em;
            left:2em;
           
        } 

        .first-article .quadrado-imagem:after , .second-article .quadrado-imagem:after {

            content: "";
            width: 22em;
            height: 16em;
            background-color: white;
            top: 2em;
            left:-1em;
        }

        .first-article h4, .second-article h4 {

            right: -.1em;
        }


        .first-article .button, .second-article .button {

            font-size: 3em;
        }


        .stickhome img{
        
          display: none;
        }

        footer {

            background-color: #111111;
            background-image: none;
        }

        footer p{

            width: 100%;
            font-size: 1.4em;

        }

        footer .containerfooter {
       
            justify-content: center;
        }

        footer img {
        
            width: 30em;
            align-self: center;
        
        }

        .icons-container {
           display: flex;
           justify-content: center;
        }

        .fab{
        
            
            font-size: 3em;
         
        }




    }


    @media (max-width: 660px) {

    

        header{ 

            height: auto;
        }

        .foto-logo {
            

            display: flex;
            flex-direction: column;
           
            
        }

        .logo-header {
        
            width: 21em;
            align-self: center;
            margin: 0;
     
        }



        .foto-logo span {
            align-self: center;
            

        }

    
        .foto-perfil {

            width: 11em;
            margin-left: 1em;
            margin-right: 0;
            margin-bottom: 4em;
            border: 2px white solid;
     
        } 
        
        .foto-logo span:before, .foto-logo span:after {
          
            display: none;
     
        }

      
        .foto-logo:before {
        
            content: "1992 - 2011 - 2020";
            font-size: 1.5em;
            color: tomato;
            position: absolute;
            bottom: 0;
            left: 58%;
            font-family: 'Saira Condensed', sans-serif;
            line-height: 1.4em;
        }

        nav  {

            margin: 4em;

            
        }
        

        nav li {

            font-size: 4.5em;
            text-shadow: -1.5px -1.5px 0 #ffffff, 1.5px -1.5px 0 #ffffff, -1.5px 1.5px 0 #ffffff, 1.5px 1.5px 0 #ffffff;
        }



        .first-article p,  .second-article p {
            
            width: 30%;
            font-size: 1.2em;
        }

        footer p {

            font-size: 1.2em;
            
        }

        footer img {

            width: 100%;
            
        }

        .fab{
        
            font-size: 2em;
         
        }

    }



    @media (max-width: 590px) { 

        * {
            
        }


        header {

            padding: 4em 0;
        }

        header:before{
            content: '';
            width: 5em;
            height: 5em;
            background-color: transparent;
            position: absolute;
            bottom:0;
            left:0;
            
            width: 0;
            height: 0;
            border-bottom: 20px solid white;
            border-right: 20px solid transparent;
        }

        .logo-header {
        
            width: 15em;
            align-self: center;
            margin: 1em 0 0 0;
     
        }

        .foto-perfil {

            width: 8em;
            margin top: 0;
            margin-left: 1em;
            margin-right: 0;
            margin-bottom: 1em;
            border: 1.5px white solid;
     
        } 
 
        .foto-logo:before {
        
            content: "1992 - 2011 - 2020";
            font-size: .6em;
            color: tomato;
            position: absolute;
            bottom: 0;
            left: 65%;
            font-family: 'Saira Condensed', sans-serif;
            line-height: 1.4em;
        }

        nav{
            margin-top: 4em;
        }
        

        nav li {

            font-size: 3em;
            
            text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
        }


        .first-article, .second-article {
            
           height: 50em;
           margin-top: 0;
        }

        .first-article:before, .second-article:before {
            
            top:-2em;
         }

        .first-article h1, .second-article h1 {

            left: -2px;
            font-size: 7em;
        }

        .first-article h2, .second-article h2 {

            left: 0;
            font-size: 4em;
        }

        .first-article h3, .second-article h3 {

            left: 0;
            font-size: 4em;
            top: 2.5em;
        }

        .first-article h4, .second-article h4 {

            font-size: 13em;
            right: -.2em;
        }


        .first-article p, .second-article p {
    
            width: 100%;
            height: auto;

            top: 13em;
            left: 0;
            font-size: 1.2em;
        }

        .first-article p:before, .second-article p:before {
           display: none;
        }

        .first-article .quadrado-imagem, .second-article .quadrado-imagem {

            width: 100%;
            height: 40%;
        }

        .first-article .quadrado-imagem:before, .second-article .quadrado-imagem:before {

            background-color: white;
            left: 10%;
            bottom: -2px;
            width: 80%;
            height: 110%;
        } 

        .first-article .quadrado-imagem:after , .second-article .quadrado-imagem:after {

            background-color: white;
            left: -2px;
            top: 10%;
            width: 110%;
            height: 80%;
        } 


        .first-article .button, .second-article .button {

            font-size: 3em;
            left: 0;
            bottom: -1.5em;
        }

        footer:before {
        
            content: '';
            width: 5em;
            height: 5em;
            background-color: transparent;
            position: absolute;
            top:0;
            right:0;
            
            width: 0;
            height: 0;
            border-top: 20px solid white;
            border-left: 20px solid transparent;
        }
        

      

    }



    
   

    


    
    

     