
        @font-face {
                font-family: BebasKai;
                src: url(Fonts/BebasKai.ttf);
              }


            body {
            width: 100%;
            margin: 0;
            box-sizing: border-box;
            font-family: calibri;
            overflow: auto;    
            
            }
            
            header {
    
                width: 100%;
                background-color: black;
                padding:0;
                height: auto;
                position: relative;
               
            
            }

            header:before{
                content: '';
                width: 5em;
                height: 5em;
                background-color: transparent;
                position: absolute;
                bottom:0;
                left:0;
                
                width: 0;
                height: 0;
                border-bottom: 20px solid white;
                border-right: 20px solid transparent;
            }
            
            header ul {
                width: 70%;
                margin: auto;
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                list-style: none;
                padding: 0;

            }
            

            header ul li a {
            
                text-decoration: none;
                color: white;
                width: 100%;
                position: relative;
                transition: 1s;
             
            }
            
            header ul li a:hover:before{
            
                content: "";
                width: 100%;
                height: 2px;
                background-color: tomato;
                position: absolute;
                bottom: 0px;
                
            }
            
            .logocima:hover:before {
            
               display: none;
            
            }
            
            
            
            header ul li {
            
                font-size: 2em;
                font-family: BebasKai;
            }
            
            header ul li a img {
                margin: .6em 0 .3em 0;  
                width: 1.3em;
             
            }

            header .mobilelogo{
                display: none;
             
            }

            .hamburger {

                width: 2.2em;
                height:1.4em;
                float: right;
                display: none;
                position: relative;
                transition: .3s ease-in-out;
                cursor: pointer;
            
            
            }
            
            .hamburger .ham{
            
                width: 100%;
                height: 2px;
                margin-bottom: 8px;
                background-color: white;
                transition: .3s ease-in-out;
            }
            
            input {
                display: none;
                
            }
            
            input:checked ~ label .hamburger {
            
                box-shadow:  0 0 0 100vw black, 0 0 0 130vh black ;
                border-radius: 100%;
                z-index: 100;
            }
            
            input:checked ~ label .hamburger{
            
                transform: rotate(45deg);
                
            }
            
            input:checked ~ label .hamburger .ham1 {
            
                transform: rotate(90deg);
                position: absolute;
                bottom: 0;
                background-color: white;
            }
            
            input:checked ~ label .hamburger .ham2 {
            
                position: absolute;
                bottom: 0;
                background-color: white;
            
            }
            
            input:checked ~ label .hamburger .ham3 {
            
                position: absolute;
                bottom: 0;
                background-color: white;
            
            }
            
            .respmenu {
            
                display:none;
            
            }
    
    
            article {
                
                width: 85%;
                height: auto;
                margin: 10em auto;
                display: flex;
            }
            
            .primeirodesenho{
                
                width: 75%;
                display: flex;
                
             
               
            } 
            
            .primeirodesenho img {
        
                width: 50%;     
            }
            
            .logodesc {

                margin: 0 0 0 7em;
                width: 35%;
                position: relative;
            }
            
             .logodesc:before {
                
                content: "";
                width: 2px;
                height: 100%;
                background-color: #e5ecf0;
                position: absolute;
                left: -1em;
                top: 0;
            }
            
            .logodesc img {
                
                width: 50%;
            }
            
            .logodesc p {
                
                color: #727D83;
                text-align: left;
                font-size: 2em;
                font-family: calibri;
            }
            
            section {
                
                
                width: 60%;
                margin: auto;
                text-align: left;
            }
            
            section h1 {
                margin: 0;
            }
            
            h1{
                
                font-size: 3em;
                color: #128360;
                margin-top: 2em;
              
            }
            
            h2 {
                
                font-size: 2em;
                color: #21AD81;
                
                
            }
            
            h3 {
                
                font-size: 2em;
                color: #727D83;
             
            }
            
            section p{
                
                font-size: 1.5em;
                color: #727D83;
                
            }
            
             .abordagem, .benchmark, .usuarios, .analise, .idea, .style, .usabilidade{
                
                margin-top: 0em;
                text-align: center;
                overflow: hidden;
           
            }
            
        
     
    
             .abordagem p , .benchmark p, .usuarios p, .analise p, .idea p, .style p, .usabilidade p{
                
                 
                 font-size: 1.5em;
                 text-align: left;
                 color: #727D83;
                 width: 60%;
                 margin:  1em auto;
         
                
            }

        
            
            .abordagem .logo {
                margin-top: 5em;
                width: 7%;
            }
            
            .abordagem .abordagemimg {
                
                width: 30%;
                margin: 2em;
            }
            
            .analise img, .idea img {
                
                width: 60%;
            }
            
          
            
            .storyboard {
                
                bordr: 1px red solid;
                display: flex;
                flex-direction: column;
            
                

             
            }
            
            .storyboard img {
                align-self: center;
                margin-top: 5em;
                width: 60%;
          
            }
            
  
            .storyboard img:nth-child(2), .storyboard img:nth-child(3), .storyboard img:nth-child(5){
                
                width: 35%;
            }
            
   
            .analise h2:nth-child(9) {
                
                font-size: 3em;
                width: 50%;
                margin: 5em auto 3em auto;
                text-align: center;
                position: relative;
            }  
            
            .analise h2:nth-child(9):before{ 
                
                content: "?";
                font-size: 10em;
                color: #E5ECF1;
                position: absolute;
                top:-.5em;
                left: 60%;
                z-index: -100;
         
            }
            
            .usuarios h2:nth-child(8), .usuarios h2:nth-child(9)  {
                
                font-size: 4em;
                width: 60%;
                margin: 4em auto;
                text-align: left;
                position: relative;
            }
            
            
            .usuarios h2:nth-child(8):before, .usuarios h2:nth-child(9):before{ 
                
                content: " '' ";
                font-family: Bebas Kai;
                font-size: 10em;
                color: #E5ECF1;
                position: absolute;
                top:-.2em;
                right: 0;
                z-index: -100;
              
         
            }

            .usuarios img {

                width: 30%;
                margin: auto;
                display: block;
    
            }
            
            .benchmark {
                width: 100%;
                margin: auto;
               
            }

            .benchmark img {

                width: 10%;
                margin: auto;
                display: block;

             }
           
            
            .benchcontainer {
                
                border: 2px #E5ECF1 solid;
                width: 60%;
                height: auto;
                padding: 1em;
                margin: 1em;
                border-radius: 30px 30px 30px 0px;
                box-shadow: 0px 10px 0px 0px rgba(229,236,241,1);
                text-align: left;
                display: inline-block;
                
            }
            
            .benchcontainer p {
                
                width: 100%;
                font-size: 1.5em;
                text-align: left;
            }
            
    
            .benchcontainer ul, .usuarios section ul {
                font-size: 1.5em;
                color: #727D83;
         
            }

           .logodesc ul{

                font-size: 1.5em;


            }
        

            .benchcontainer ul li,.usuarios section ul li {
                
                margin-bottom: .5em;
              
            }
            
                
            
            .leftalign {
                
                width: 60%;
                margin: auto;
                text-align: left;
            
            }
            
            .personas {
                
                width: 100%;
                height: auto;
                padding-bottom: 3em;
                background-color: #e5ecf0;
                display: flex;
                justify-content: center;
            }
            
            .personascontainer {
                
                width: 60%;
                height: auto;
                background-color: white;
                border-radius: 0 0 30px 30px;
                position: relative;
                display: flex;
                flex-direction: column;
                
            }

            .personas .personascontainer .personaimg {  

              border: 0px red solid;
              box-shadow: 0px 10px 0px 0px rgba(229,236,241,1);
              width: 100%;
        
            }


            
            .sketch {
                
                width: 100%;
                height: auto;
                padding: 5em 0em;
                background-color: #ffffff;
                display: flex;
                flex-direction: column;
               
                
                
            }
            
              .sketch {
                  
                  display: flex;
           
            }
            
            .sketch img {
                
                align-self: center;
                
            }

            
            .wireframe {
                
                display: flex;
                justify-content: center;
  
            }
            
            .wireframe a {
                
                
                border: 2px #E5ECF1 solid;
                padding: 1em;
                border-radius: 30px 30px 30px 0px;
                box-shadow: 0px 10px 0px 0px rgba(229,236,241,1);
                width: 20%;
                margin: 2em;
                position: relative;
                transition: .5s;
   
            }

            .wireframe a:hover {

                box-shadow: 0px 10px 0px 0px rgb(18, 131, 96);

            }
            
             .wireframe a:nth-child(1):before {
                
                
              content: "Aluno";
              position: absolute;
              top: -1.5em;
              left: 0;
              right: 0;
              font-size: 2em;
              font-weight: bold;     
              color: #727D83;
                 
            }
            
             .wireframe a:nth-child(2):before {
                
                
              content: "Professor";
              position: absolute;
              top: -1.5em;
              left: 0;
              right: 0;
              font-size: 2em;
              font-weight: bold;     
              color: #727D83;
                 
            }
            
            
             .wireframe a img{
                
                width: 100%;
              
            }
            
            
            .prototipo {
                
                width: 100%;
                background-color: #E5ECF1;
                height: auto;
                padding: 3em 0em;
                text-align: center;  
                
            }

            
            .protrow1, .protrow2, .protrow3, .protrow4, .protrow5, .protrow6, .protrow7{
                
                bordr: 1px red solid;
                display: flex;
                flex-wrap:wrap;
                justify-content: center;
                padding: 2em 0em 2em 0em;
                position: relative;
                
            }
            
           .protrow2:before, .protrow3:before, .protrow4:before, .protrow5:before, .protrow7:before, .protrow8:before {
                
                content: "";
                height: 1px;
                width: 5em;
                background-color: #b9cad3;
                position: absolute;
                top:0;
                
                
            }
            
            .smartphone {
                
                height: 508px; /* 635 */
                width: 252px;  /* 315 */
                box-sizing: border-box;
                background-color: white;
                background-repeat: no-repeat;
                background-position: cover;
                box-shadow: -1px 13px 11px 2px rgba(0,0,0,0.10);
                border-radius: 20px;
                margin: 25px;
            }
            
            .prototipo .cefr{
                
                 border-radius: 20px;
                 width:  30%;
                 padding: 1em;
                 box-sizing: border-box;
                 box-shadow: -1px 13px 11px 2px rgba(0,0,0,0.10);
                 background-color: white;
                
            }

            .protrow8 {

                width: 50%;
                margin: auto;
            }

            .protrow8 .desktop{

                margin-top: 1em;
                background-color: white;
                border-radius: 10px;
                box-shadow: -1px 13px 11px 2px rgba(0,0,0,0.10);
            }

            
            
            .protrow1 .smartphone:nth-child(1) {
                
                background-image: url(Imagens/Screens/tela-01.svg);
            
            }
                        
            
            .protrow1 .smartphone:nth-child(2) {
                
                background-image: url(Imagens/Screens/tela-02.svg);
            
            }
            
            .protrow2 .smartphone:nth-child(1) {
                
                background-image: url(Imagens/Screens/tela-03.svg);
            
            }
            
            .protrow2 .smartphone:nth-child(2) {
                
                background-image: url(Imagens/Screens/tela-04.svg);
            
            }
            
            .protrow2 .smartphone:nth-child(3) {
                
                background-image: url(Imagens/Screens/tela-05.svg);
            
            }
            
            .protrow2 .smartphone:nth-child(4) {
                
                background-image: url(Imagens/Screens/tela-06.svg);
            
            }
            
            .protrow3 .smartphone:nth-child(1) {
                
                background-image: url(Imagens/Screens/tela-07.svg);
            
            }
            
             .protrow3 .smartphone:nth-child(2) {
                
                background-image: url(Imagens/Screens/tela-08.svg);
            
            }
            
             .protrow3 .smartphone:nth-child(3) {
                
                background-image: url(Imagens/Screens/tela-09.svg);
            
            }
            
             .protrow3 .smartphone:nth-child(4) {
                
                background-image: url(Imagens/Screens/tela-10.svg);
            
            }
            
             .protrow3 .smartphone:nth-child(5) {
                
                background-image: url(Imagens/Screens/tela-11.svg);
            
            }
            
             .protrow4 .smartphone:nth-child(1) {
               
                background-image: url(Imagens/Screens/tela-12.svg);
            
            }
            
            .protrow4 .smartphone:nth-child(2) {
               
                background-image: url(Imagens/Screens/tela-13.svg);
            
            }
            
            .protrow4 .smartphone:nth-child(3) {
               
                background-image: url(Imagens/Screens/tela-14.svg);
            
            }
            
            .protrow5 .smartphone:nth-child(1) {
               
                background-image: url(Imagens/Screens/tela-15.svg);
            
            }
            
            .protrow5 .smartphone:nth-child(2) {
               
                background-image: url(Imagens/Screens/tela-16.svg);
            
            }
            
            .protrow6 .smartphone:nth-child(1) {
               
                background-image: url(Imagens/Screens/tela-17.svg);
            
            }
            
            .protrow6 .smartphone:nth-child(2) {
               
                background-image: url(Imagens/Screens/tela-18.svg);
            
            }
            
             .protrow6 .smartphone:nth-child(3) {
               
                background-image: url(Imagens/Screens/tela-19.svg);
            
            }
            
             .protrow6 .smartphone:nth-child(4) {
               
                background-image: url(Imagens/Screens/tela-20.svg);
            
            }
            
             .protrow6 .smartphone:nth-child(5) {
               
                background-image: url(Imagens/Screens/tela-21.svg);
            
            }
            
             .protrow7 .smartphone:nth-child(1) {
               
                background-image: url(Imagens/Screens/tela-22.svg);
            
            }
            
             .protrow7 .smartphone:nth-child(2) {
               
                background-image: url(Imagens/Screens/tela-23.svg);
            
            }
  
            .style .moodboard {
                
                width: 60%;
                position: relative;
                z-index: -11;
                
                
            }
            
            .style .imgunder {
      
                position: relative;
                z-index: -10;
  
            }

            .style .imgunder2 {

                position: relative;
            }

            .style .imgunder2 .notebook{
                
                width: 25%;
                position: absolute;
                transform: rotate(10deg);
                bottom: 5em;
                right:-5em;
               
            }
            
            .style .imgunder .smartphone2 {
                
                width: 20%;
                position: absolute;
                bottom: 5em;
                left: 0;
                transform: rotate(-10deg) ;
               
           
            }
            
            .style .cores {
                
                width: 60%;
                z-index: 12;
            }
        
            .style .desenhos {
                            
                width: 60%;
            }
            
            

            .style .logobrand {

                width: 60%;
            }

            .style .mockup {

                width: 60%;

        
            }

            .style .personagens {
                
                width: 80%;
            }

            .stickhome img{
        
                width: 3em;
                visibility: hidden;
                opacity: 0;
                position: fixed;
                top: 0em;
                right: 5em;
                transition:1s;
            }

            @media only screen and (max-width: 1250px) {

                header ul {

                    width: 90%;
                    margin: auto;
                }
                
                .logodesc {

                    margin-left: 3em;
                }

                .logodesc img {

                    width: 60%;
    
                }

                .logodesc p {

                    font-size: 1.5em;
                }

                section {

                    width: 70%;
                }

                h1{
                
                    margin-top: 1em;
                  
                }
                
                h2 {
                    
                
                }
                
                h3 {
             
                 
                }
                
                section p{
                    
                    
                }
                
                 .abordagem, .benchmark, .usuarios, .analise, .idea, .style, .usabilidade{
                
                    margin-top: 5em;
               
                }
                
            
                 .abordagem p , .benchmark p, .usuarios p, .analise p, .idea p, .style p, .usabilidade p{

                    width: 70%;
                   
                }
                
                .abordagem .logo {
                    
                    width:10%;
                }
                
                .abordagem .abordagemimg {
                    
                    width: 37%;
                    margin: 2em;
                }

                .analise img, .idea img {
                
                    width: 70%;
                }

                .benchcontainer {

                    width: 70%;
                }

                .benchcontainer p {
                
                    margin: 0;
                    width: 100%;
                }

                .benchcontainer ul {

                    font-size: 1.5em;
                }
                
                .personascontainer {

                    width: 70%;
                }

                .wireframe {

                    width: 70%;
                    margin: auto;
                }


             .wireframe a {

                width: 100%;
                padding: 1em;
                border-radius: 20px 20px 20px 0px;
                margin: 1em;
             }

            .prototipo .cefr{
                
                width:  70%;       
               
           }

            .protrow8 {

               width: 70%;
               
           }

           .style .moodboard {
               width: 70%;
           }
 
            .style .cores {
                
            width: 70%;
            
        }
        
      
            .style .desenhos {
        
            width: 70%;
        }

          .imgunder {

            width: 90%;
            transform: translate();
        }
        
        

           .style .logobrand {

            width: 70%;
        }

           .style .mockup {

            width: 70%;

    
        }

        .style .personagens {
            
            width: 90%;
        }

        .stickhome img{
        
            right: 1em;
         
        }


            }

            @media only screen and (max-width: 800px) {
    
            
                header {
            
                   width: 100%;
                   background-color: black;
                   padding:0;
                   height: 5em;
                   position: relative;
            
                }
            
                header:before {
            
                    display: none;
                }
            
                header ul {
            
                    display: none;   
                }
            
                header .mobilelogo{
                    display: block;
                    position: absolute;
                    top: 14px;
                    left: 25px;
                    width: 2.5em;
                }

                .hamburger {

                    margin: 30px 25px 0 0 ;
                    display: block
                }
             
                .respmenu {
                
                    display: flex;
                    flex-direction: column;
                    position: absolute;
                    top: 10em;
                    left: 5%;
              
                }
            
                .respmenu li {
            
                    color:white;
                    font-size: 4em;
                    z-index: 105;
                    display: none;
              
                }
            
            
                input:checked ~ label ul li {
            
                    font-size: 3em;
                    color: white;
                    z-index: 105;      
                    display: block;
                    
                }

                .abordagem .logo {
                    
                    width:15%;
                }

                
                .storyboard img:nth-child(2), .storyboard img:nth-child(3), .storyboard img:nth-child(4), .storyboard img:nth-child(5) {
                
                    width: 80%;
                }

                .storyboard img:nth-child(6) {

                    width: 100%;

                }

                .analise h2:nth-child(9) {
                
                    font-size: 3em;
                    width: 60%;
                    margin: 5em auto 3em auto;
                    text-align: center;
                    position: relative;
                }  
                
                .analise h2:nth-child(9):before{ 
               
                    font-size: 8em;
                    color: #E5ECF1;
                    position: absolute;
                    top:-.5em;
                    left: 60%;
                    z-index: -100;
             
                }

                .usuarios h2:nth-child(8), .usuarios h2:nth-child(9)  {
                    
                    font-size: 3em;
                   
                }
           
                .meninacelular {
                    display: none;
                }

                .primeirodesenho img {
        
                    width: 100%;     
                }

            @media only screen and (max-width: 600px) {

                body {

                    margin: 0;
                }

                header::before {
                    display: none;
                }

                article {

                    flex-direction: column-reverse;
                    overflow: hidden;
           
                }
                 .primeirodesenho {

                    width: 100%;
                    flex-direction: column;
                 }

                 .primeirodesenho .maocelular {

                    width: 100%;
                 }

                 .primeirodesenho .meninacelular {

                    width: 100%;
                 }


               
                .logodesc {

                    width:100%;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }

                .logodesc::before {

                    display: none;
                }

                .logodesc p {

                    font-size: 1.5em;
                }


                .logodesc img {

                    width: 25vh;
                    margin-bottom: 1em;
                    margin: auto;
                

                }

                section {
       
                    width: 90%;
                    margin: auto;
                    text-align: left;
                }

             

                .abordagem, .benchmark, .usuarios, .analise, .idea, .style, .usabilidade{
                
                    text-align: left;
                    width: 90%;
                    margin: auto;
                  
                }

               
                .abordagem p, .benchmark p, .usuarios p, .analise p, .idea p, .style p, .usabilidade p {
                
                    text-align: left;
                    font-size: 1.25em;
                    width: 100%;
                  
                }

                section h1{

                    font-size: 2.5em;
                }

                section p{

                    font-size: 1.25em;
                }


                h1 {

                    font-size: 2.5em;
                    
                }

                h2 {

                    font-size: 1.5em;
                }

                h3 {
            
                    font-size: 1.5em;
                    color: #727D83;
                    margin: 0;
                    text-align: center;
                 
                }

                ul {
                    font-size: 1.25em;
                }


            
                .abordagem .logo {
                
                    width: 30%;
                    display: block;
                    margin: 4em auto 0em;
                  
                }

                .abordagem .abordagemimg {
                
                    width: 100%;
                    margin: 2em auto;
            
                }

                .analise img, .idea img {
                
                    width: 100%;
                }
                
                .idea img { 
                    
                    width: 100%;
                
                }

                .benchmark img {

                   width: 40%;
                   margin: auto;
                   display: block;

                }

                .benchcontainer {
                
                    border: 2px #E5ECF1 solid;
                    box-sizing: border-box;
                    width: 100%;
                    height: auto;
                    padding: 1em;
                    margin: 1em auto;
                    border-radius: 30px 30px 30px 0px;
                    box-shadow: 0px 10px 0px 0px rgba(229,236,241,1);
                    text-align: left;
                    display: inline-block;
                    
                }

                .analise h2:nth-child(10) {
                
                    font-size: 2em;
                    width: 100%;
                    margin: 2em auto;
                    text-align: left;
                    position: relative;
                }  
                
                .analise h2:nth-child(10)::before{ 
                    
                    display: none;
                    
             
                }
                
                .usuarios h2:nth-child(8), .usuarios h2:nth-child(9)  {
                    
                    font-size: 2em;
                    width: 100%;
                    margin: 2em auto;
                    text-align: left;
                    position: relative;
                }
                
                
                .usuarios h2:nth-child(8):before, .usuarios h2:nth-child(9)::before{ 
                    
                   
                    font-size: 10em;
             
                }

                .analise h2:nth-child(9) {
                
                    font-size: 2em;
                    width: 100%;
                    margin: 5em auto 3em auto;
                    text-align: center;
                    position: relative;
                }  

                .usuarios img {

                    width: 70%;
                    margin: auto;
                    display: block;
        
                }

                .personas {

                    background-color:transparent;
                }

                .personascontainer {
                
                    width: 100%;
                    height: auto;
                    background-color: white;
                    border-radius: 0 0 30px 30px;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    
                }
                .personas .personascontainer .personaimg {  

                    box-shadow: 0px 1px 0px 0px rgba(229,236,241,1);
                    width: 100%;
              
                  }

              
                
                .storyboard img {
                    align-self: center;
                    margin-top: 5em;
                    width: 100%;
              
                }
                
  
                   .storyboard img:nth-child(2), .storyboard img:nth-child(3), .storyboard img:nth-child(4), .storyboard img:nth-child(5), .storyboard img:nth-child(6){
                    
                    width: 100%;
                }

                   .sketch {
                       padding: 0;
                   }

            

                    .wireframe {
                     
                    width: 80%;    
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    }

                    .wireframe a {

                
                       
                        box-sizing: border-box;
                        padding: 1em;
                        width: 100%;
                        margin: 3em 0;
                        position: relative;
           
                    }

                    .prototipo {
                       width: 100%;
                       box-sizing: border-box;
                      
                    }

                    .prototipo .cefr {

                        width: 90%;
                        margin-top: 2em;
                        border-radius: 5px;
                    }

                    .protrow8 {

                        width: 100%;
                    }

                    .protrow8 .desktop {
                        width: 90%;
                        border-radius: 5px;

                    }

                    .style .moodboard, .style .cores, .style .desenhos, .style .personagens, .style .logobrand, .style .mockup   {
                
                        width: 100%;
        
                    }

                    .style .personagens {

                        width: 100%;
                        
                    
                    }
      
                    .smartphone2, .notebook {
                        display: none;

                    }

                    .benchcontainer ul, .usuarios section ul {
                        font-size: 1.25em;
                        padding: 0 0 0 1em;
                    }

                    .stickhome img{
        
                        display: none;
                    }
                   
                }